# Archivos y directorios generados automáticamente
node_modules/
coverage/
dist/

# Archivos de configuración y logs
.env
logs/
*.log

# Archivos de depuración y temporales
*.tmp
*.pid

# Archivos de IDEs y editores
.vscode/
.idea/
.sublime-text

# Otros archivos irrelevantes para el repositorio
package-lock.json
yarn.lock
npm-debug.log

# Archivos de configuración de Docker (si aplica)
Dockerfile.dev
docker-compose.yml
docker-compose.override.yml

# Archivos de pruebas
test/coverage/
